{% extends 'login/login.html' %}

{% block mainContent %}

{% include 'login/components/resetPassCard.html' with userGroup="Student" %}

<style>
    body {
        background-image:
            url('https://img.freepik.com/free-vector/happy-students-jumping-with-flat-design_23-2147907626.jpg?w=826&t=st=1668320098~exp=1668320698~hmac=472c1af2835e7434885291bc7e7f4b8ad0c5c77de668d2aac2e1174cba2df7fe'),
            linear-gradient(to right, white, #f9fff5);
        background-repeat: no-repeat, repeat;
        background-position-x: right, left;
        background-position-y: -90%, top;
        background-size: 30%, auto;
    }
</style>

{% endblock %}